<body>
    <div>
      <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand"><mat-icon>school</mat-icon>   College Management System</span>

        <div class="spacer"></div>

        <button color="accent" routerLink="/studentportal" routerLinkActive="active">Back to home</button>
      </mat-toolbar>
    </div>

  

    <section class="head">

        <marquee direction="left"><b>Welcome to KRISHNA College</b> </marquee>
        
        <div  class="heading">
            <h3>About Us</h3>
        </div>
        <div class="container">
             <div class="content">
                <h2>Welcome To Our Website</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap into 
                    electronic typesetting, remaining essentially unchanged. It was popularised in 
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus PageMaker 
                    including versions of Lorem Ipsum.
                </p>
             </div>

             <div class="image">
                <img src="/assets/img/contact2.avif" alt="Description of the image">
             </div>
        </div>
    </section>

    <section class="head">
        <div class="container">
        <div class="content">
          <mat-icon>create</mat-icon>
          <h2>Education</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type 
          specimen book. </p>
        </div>
        </div>
  
        <div class="container">
          <div class="content">
            <mat-icon> school</mat-icon>
            <h2>Special Education</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
          </div>
          </div>
  
          <div class="container">
            <div class="content">
              <mat-icon >sports bascketball</mat-icon>
              <h2>Activities</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            </div>
            </div>
  
  
            <div class="container">
              <div>
  
              </div>
            </div>
            <div> 
  
            </div>
  
  
      </section>
  


    <footer>
        <p><small>copyright$2024</small> KrishnaV. All rights reserved.</p>
      </footer>
    
</body>

